.container-fluid {
  -ms-overflow-style: none;  /* IE 10+ */
  overflow: -moz-scrollbars-none;   /* IE 10+ */
}
.container-fluid::-webkit-scrollbar {
  display: none;   /* IE 10+ */
}
.fakeJumbo {
  padding: 1vh;
  background-color: #23272A;
  color: #7289DA;
  border: 1px solid #7289DA;
}
body {
/*   
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://i.imgur.com/SAxpse0.gif'); */
  background-color: #2C2F33;
  color: #7289DA;
}
.card {
  background-color: #23272A;
  padding: 1vw;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  border: 1px solid #7289DA;
  height: auto;
  width: 35vw;
}
@media only screen and (max-width: 600px) {
     .card {
         width: 323px;
    }
}
h1 {
  font-size: 5vw;
}
p {
  font-size: 2vmin;
}
